extends ../layout

block content
  h1 New Track
  form(action="/create/track", method="POST")
    label(for="title") Title
      input#title(type="text", name="title", required, value=title || '')
    label(for="altTitle") Alternate Title
      input#altTitle(type="text", name="altTitle", value=altTitle || '')
    label(for="description") Notes
      textarea#notes(type="text", name="notes")= notes
    label(for="number") Track Number
      input#number(type="number", min=1, name="number", value=number || '')
    label(for="duration") Duration
      input#duration(type="text", name="duration", value=duration || '')
    label(for="album") Album
      select#album(name="album", required)
        option(value='') Choose a album
        each availableAlbum in availableAlbums
          option(value=availableAlbum.id, selected=album && album.id === availableAlbum.id)= availableAlbum.title
    fieldset.checkbox-list
        legend Tags
        each availableTag in availableTags
          label.checkbox-label
            input(type='checkbox', name="tags", value=availableTag.id, checked=tags && tags.length && tags.indexOf(availableTag) > -1 ? true : false)
            | #{availableTag.name}
    label(for="fileUrl") File URL
      input#fileUrl(type="url", name="fileUrl", value=fileUrl || '')
    label(for="spotifyUri") Spotify URI
      input#spotifyUri(type="text", name="spotifyUri", value=spotifyUri || '')
    
    if id
      input(type='hidden', name='id', value=id)
    button(type="submit") Submit